<!-- <h1>Welcome to {{ title }} from {{ location }}</h1>
<hr /> -->
<!--<div>
  <app-boxa
    labelValue="location"
    [data]="location"
    (onBoxDataChange)="onBoxValueChange($event)"
  ></app-boxa>
</div>
<div>
  <app-boxa [data]="location"></app-boxa>
</div>
<div>
  <app-customer-form></app-customer-form>
</div> -->
<!-- <div>
  <app-rt-pcr></app-rt-pcr>
  <app-search></app-search>
</div> -->
<!-- <div>
  <app-employee-form></app-employee-form>
</div> -->
<!-- <app-book-list></app-book-list> -->
<!-- <app-book-catlog></app-book-catlog> -->
<!-- <app-menu></app-menu>
<router-outlet></router-outlet> -->
<!-- <app-life-cycle></app-life-cycle> -->
<app-parent></app-parent>
