<section id="container-3" class="container">
  <div>
    <input type="text" id="search" />
    <input type="button" id="button1" value="Search By Aadhar Number" />
  </div>
</section>
<section id="container-4" class="container">
  <table id="table1">
    <thead>
      <th>Name</th>
      <th>Aadhar Number</th>
      <th>Date</th>
      <th>City</th>
      <th>Time Of Test</th>
      <th>Date Of Test</th>
      <th>Lab Name</th>
      <th>Report No</th>
      <th>Test Result</th>
      <th>Gender</th>
    </thead>
  </table>
</section>
