/* * {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  color: rgb(26, 5, 5);
}
.top {
  text-align: center;
  margin-top: 50px;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
input,
button {
  border: transparent;
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;
}
.container {
  padding: 10px;
}
button {
  height: 5%;
  width: 5%;
  background-image: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 85%, 51%));
} */
* {
  margin-top: 5px;
  padding: 10px;
  text-align: center;
}
input {
  background-color: rgb(226, 223, 223);
  border-radius: 10px;
  border: transparent;
}
.top-container {
  background-color: rgb(233, 255, 255);
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 25%;
  width: 50%;
}
#button,
#button1 {
  background-color: cornflowerblue;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 50%;
}
table,
th,
td {
  border: 2px solid black;
}
